@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*MENU*/
header::before {
  content: "";
  display: block;
  margin-bottom: 70px;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #0042836b;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 0 rgba(100, 64, 233, 0.5);
  position: fixed;
  top: 0;
  z-index: 2;
  transition: ease-in-out 0.5s;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  align-items: center;
  padding: 0 40px;
}

.container-nav .logo {
  height: 60px;
}

.container-nav .logo img {
  height: 100%;
  vertical-align: top;
  margin-left: 10px;
}

.enlaces-header {
  font-weight: 300;
  transition: ease-in-out 0.5s;
}

.enlaces-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  margin-right: 80px;
}

.enlaces-header ul li a {
  padding: 25px 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

.enlaces-header ul li a:hover {
  background-color: #004183;
  color: #d1d1e2;
}

.hamburguer {
  width: 80px;
  height: 80px;
  display: none;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.hamburguer > i {
  font-size: 25px;
  line-height: 80px;
}

#select {
  background-color: #004183;
}

/*SLIDER*/
.container-slider {
  width: 100%;
  max-width: 900;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 15px 60px;
  position: relative;
  margin-bottom: 1px;
  margin-top: -100px;
}

.slider {
  display: flex;
  width: 400%;
  height: 600px;
  margin-left: -100%;
  /*position: relative;*/
}

.slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(75, 42, 42, 0.5);
  height: 100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 40px;
  height: 30px;
  color: rgba(255, 254, 254, 0.356);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.slider__btn:hover {
  color: rgb(238, 232, 232);
  transition: all 0.5s;
}

.slider__btn--left {
  left: 5px;
}

.slider__btn--right {
  right: 5px;
}

/*ABOUT*/
.container__about {
  padding: 100px 0px;
  margin-top: 30px;
  background-color: #6c7986;
  width: 100%;
}

.about {
  width: 1000px;
  padding: 0px 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__text {
  width: 100%;
  padding: 40px;
  width: 600px;
}

.about__text h1 {
  color: #2a0e72;
  font-size: 2.4em;
}

.about__text p {
  color: #fff;
}

.about__text a {
  background-color: #004183;
  color: #fff;
  width: 150px;
  padding: 10px 30px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  z-index: 100;
  transition: 0.5s;
}

.about__text a:hover {
  background-color: #d1d1e2;
  color: #004183;
  border: 3px solid #004183;
}

.image__about {
  width: 80%;
  display: flex;
}

.image__about img {
  width: 300px;
}

/*BANNER*/
.container-banner {
  width: 100%;
  height: 500px;
  color: #fff;
  margin-top: 30px;
}

.container-banner video {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.titulo {
  color: #640808;
  margin-top: -300px;
  margin-left: 25px;
  font-size: 2em;
}

/*TITLE MARCAS*/
.title__marcas {
  display: flex;
  flex-direction: column;
}

.title__marcas h2 {
  text-align: center;
  background-color: #ecf1f5;
  color: #004183;
  font-weight: 400;
  height: 50px;
  width: 100%;
}

.title__marcas a {
  background-color: #004183;
  color: #fff;
  width: 150px;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 12px 10px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  z-index: 100;
  transition: 0.5s;
}

.title__marcas a:hover {
  background-color: #b1a8a8;
  color: #004183;
  border: 3px solid #004183;
}

/*CARRUSEL*/
.carrusel {
  height: 100vh;
  height: 100px;
  display: flex;
  align-items: center;
}

.carrusel__items {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  margin-bottom: 30px;
}

.carrusel-item img {
  width: 100%;
  height: 200px;
}

/*FOOTER*/
footer {
  background-color: #00428391;
}

.content__footer {
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 300px;
  margin-top: 10px;
}

.titulo__foot {
  text-align: center;
  background-color: #073c8d;
  color: #c5c8cf;
  height: 50px;
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 30px;
  margin-bottom: 0px;
}

/*RESPONSIVE*/
@media screen and (max-width: 800px) {
  /*MENU*/
  .container-nav .logo {
    vertical-align: top;
    margin-top: 5px;
    margin-left: -70px;
  }

  /*SLIDER*/
  .container-slider {
    width: 100%;
    height: 500px;
  }

  /*ABOUT*/
  .about {
    width: 600px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__text {
    width: 100%;
    padding: 20px;
    width: 600px;
  }

  /*BANNER*/
  .container-banner {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .container-banner video {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .titulo {
    color: #640808;
    margin-top: -300px;
    margin-left: 25px;
    font-size: 1.7em;
  }

  /*MARCAS TITLE*/
  .title__marcas h2 {
    margin-top: 110px;
  }

  .title__marcas a {
    font-size: 1em;
    border-radius: 50px;
    margin-top: -20px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 12px 10px;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
  }

  /*CARRUSEL*/
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 150px;
    transition: all 0.2s;
  }

  .carrusel-item img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    object-fit: cover;
  }

  /*FOOTER*/
}

@media screen and (max-width: 600px) {
  /*MENU*/
  .enlaces-header {
    height: 650px;
  }

  .container__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .enlaces-header ul li a {
    font-size: 18px;
  }

  .enlaces-header {
    position: fixed;
    background: #191a69df;
    top: 0;
    right: 0;
    width: 100%;
    clip-path: circle(0% at 100% 0);
  }

  .container-nav ul {
    flex-direction: column;
    margin-left: 50px;
  }

  nav ul li {
    margin: 50px 0px;
  }

  .enlace-header ul li a:hover {
    color: #fff;
  }

  .hamburguer {
    display: block;
    margin-right: 60px;
  }

  .container-nav .menudos {
    -webkit-clip-path: circle(150% at 100% 0);
    clip-path: circle(150% at 100% 0);
  }

  .container-nav .enlaces-header a {
    color: #fdfafa;
  }

  .container-nav .logo img {
    height: 100%;
    vertical-align: top;
    margin-left: 40px;
  }

  /*SLIDER*/
  .container-slider {
    width: 100%;
    height: 400px;
  }

  /*ABOUT*/
  .about {
    width: 400px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__text {
    width: 100%;
  }

  .image__about {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .image__about img {
    width: 200px;
  }
  
  /*CARRUSEL*/
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 90px;
    margin-right: 8px;
    transition: all 0.2s;
  }

  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*MARCAS TITLE*/
  .title__marcas {
    display: flex;
    flex-wrap: wrap;
  }

  .title__marcas h2 {
    font-size: 1.4em;
    margin-top: 110px;
  }

  .title__marcas a {
    width: 150px;
    margin-left: 35%;
    margin-top: -20px;
    background-color: #191b69;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 50px;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
  }

  /*FOOTER*/
  footer {
    background-color: #004183;
  }

  .content__footer h1 {
    font-size: 2em;
  }

  .titulo__foot {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  nav li a {
    font-size: 10px;
    text-align: center;
  }

  /*ABOUT*/
  .about {
    width: 230px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__text {
    width: 300px;
  }

  .about__text h1 {
    font-size: 1.6em;
  }

  .about__text p {
    font-size: 12px;
  }

  .image__about {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .image__about img {
    width: 150px;
  }

  /*SLIDER*/
  .container-slider {
    width: 100%;
    height: 300px;
  }

  /*BANNER*/
  .container-banner {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .titulo {
    font-size: 20px;
  }

  /*MARCAS TITLE*/
  .title__marcas {
    display: flex;
    flex-wrap: wrap;
  }

  .title__marcas h2 {
    height: 10px;
    font-size: 1em;
  }

  .title__marcas a {
    width: 100px;
    margin-left: 35%;
    margin-top: 10px;
    background-color: #191b69;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 50px;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
  }

  /*CARRUSEL*/
  .carrusel {
    height: 100vh;
    height: 90px;
  }

  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 90px;
    margin-right: -95px;
    transition: all 0.2s;
  }

  .carrusel-item img {
    width: 70%;
    height: 100px;
    object-fit: cover;
  }

  /*FOOTER*/
  .titulo__foot {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 320px) {
  /*ABOUT*/
  .about {
    width: 180px;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
  }

  .about__text {
    width: 250px;
  }

  .about__text h1 {
    font-size: 1.6em;
  }

  .about__text p {
    font-size: 12px;
  }

  .image__about {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .image__about img {
    width: 150px;
  }

  /*MARCAS TITLE*/
  .title__marcas {
    display: flex;
    flex-wrap: wrap;
  }

  .title__marcas h2 {
    font-size: 1em;
  }

  .title__marcas a {
    width: 100px;
    margin-left: 30%;
    margin-top: 10px;
    background-color: #191b69;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    border-radius: 50px;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
  }

  /*FOOTER*/
  .titulo__foot {
    font-size: 0.7em;
  }
}
